@import "assets/bootstrap/bootstrap.less";

.container{
  width: 1170px !important;
}
.carousel {
	height: 300px;
}

.carousel-inner {
	.item {
		img {
			height: 100%;
			margin: 0 auto;
		}
	}
}

.carousel-control{
	&.right {
		right: 15px;
	}
	&.left {
		left: 15px;
	}
}

.promo {
	margin-top: 20px;
}

.thumbnail {
	.caption {
		span {
			margin: 0 auto;
		}
	}
}